html{
    background: #cccfdc;
    background-image: linear-gradient(to bottom right, #cccfdc);
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    height: 100%;
}
#main {
    background-color: #abafb1;
    display: grid;
    grid-template-columns: repeat(4fr, 5rem);
    grid-template-rows: 30% 15% auto;
    grid-template-areas: 
        "header header header header"
        ". clear clear ."
        "main main sidebar sidebar";
    margin: 10% auto;
    width: 52%;
    height: 450px;
    border: 4px solid #f9fafb;
    border-radius: 30px;
    padding: 10px;
}
#head {
    grid-area: header;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 4;
}
#screen {
    background-color: #9ebdb7;
    border: 2px solid #f9fafb;
    border-radius: 20px;
    height: 121.5px;
    font-size: 5em;
    text-align: center;
    line-height: 121.5px;
    white-space: nowrap;
    color: #70799e;
}
#cleared {
    padding: 2px;
    display: flex;
    grid-area: clear;
    grid-column-start: 2;
    grid-column-end: span 2;
    justify-content: space-between;
    height: 100%
}
#numContainer {
    grid-area: main;
    
}
#oppContainer {
    grid-area: sidebar;
    
}
.container {
    background-color: #9eb4bd;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4fr, 20%);
    align-content: stretch;
    margin: 2px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    width: 90%;
}
.numbers {
    border: 1px solid;
    border-color: white;
    background: #9ea4bd;
    border-radius: 0.25rem;
    color: white;
    line-height: 1.2px;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.25rem;
}
.opp{
    border: 1px solid;
    border-color: white;
    background: #9ea4bd;
    border-radius: 0.25rem;
    color: white;
    line-height: 1.2px;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.25rem;
}
.zero {
    grid-column-start: 2;
    border: 1px solid;
    border-color: white;
    background: #9ea4bd;
    border-radius: 0.25rem;
    color: white;
    line-height: 1.2px;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.25rem;
}
.extra {
    height: 50px;
    width: 80px;
    justify-content: center;
    align-self: stretch;
    border: 1px solid;
    border-color: white;
    background: #bd9ea4;
    border-radius: 0.25rem;
    color: white;
    line-height: 50%;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.25rem;
}

#equals {
    grid-column-start: 2;
    grid-column-end: span 2;
    border: 1px solid;
    border-color: white;
    background: #bd9ea4;
    border-radius: 0.25rem;
    color: white;
    line-height: 1.2px;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.25rem;
}
